*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
 
}

.login{
    width: 580px;
    height: 100vh;
    position: absolute;
   flex-direction: row;
  
    
   background-color:whitesmoke; 
   display: flex;
  

   

}

.text{
    margin: 10% 10% 15% 18%;
    
}

.text label{
    display: block;
    padding: 20px 20px 20px 0;
    font-size: 1.3em ;
    font-weight: normal;
    
}

.text strong{
    font-weight: bolder;
}

.text p{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2%; 
    margin-right: 0%;
    font-size: medium;
  
}



.text input{
    font-size: 18.5px;
    border-color:white;
    border-top: white;
    border-left: white;
    padding:  10px 44% 10px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 4px;

}



 .login .reg{
    color: gray;
    accent-color: #d9600a;
    margin-top: 15px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
    
   
}

.login .reg input{
    transform: scale(1.5);
    margin-right: 5px;
    
}

.login .reg a{
    color: gray;
    margin-left: 160px;
}

button{
   border-style: none;
    font-size: 1em;
    padding: 15px 45%;
    margin-top:20px;
    background-color: #fb771a;
    border-color: #fb771a;
    color: aliceblue;
    border-radius: 3px;
    
}
button:hover{
    background-color: #ed690a;
}

.pic{
    width: 0%;
    position: relative;
    float: right;
}

